@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body,html{
    overflow-x: hidden;
    line-height: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;

}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
}

#status{
    width: 256px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../libraries/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -100px 0 0 -100px;
    border: none;
}

#header {
    height: auto;
    background-color: white;
    color: white;
    font-size: 12px;
}

#logo img{
    width: 65%;
}

#nav ul li a {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    width: max-content;
}
#nav ul li a:hover {
    color: white;
    background-color: #679267;
    font-size: 15px;

}

#img_logo_menu{
    width: 60%;
}


#address p{
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

#advogados_novo {
    font-family: 'Muli', sans-serif;
    background-color: whitesmoke;
}

.btn-grad {
    background-image: linear-gradient(#A9BA9D, #679267);
}
.btn-grad:hover {
    opacity: 0.7;
}

#advogados_novo span{
    margin-bottom: 45%;
}

#advogados_novo .card{
    width: 20rem;
    min-height: 400px;
    max-height: 400px;
}

#advogados_novo .card-heading{
    min-height: 80px;
    max-height: 80px;
}
#advogados_novo  .card-body{
    min-height: 150px;
    max-height: 150px;
}

#footer{
    font-size: smaller;
    font-weight: lighter;
}