@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body,html{
    overflow-x: hidden;
    line-height: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
}

#status{
    width: 256px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: -100px 0 0 -100px;
    border: none;
}

#adress p{
    font-size: 15px;
}


#nav ul li a {
    font-size: 15px;
    width: max-content;
}
#nav ul li a:hover {
    color:white;
    background-color: #679267;
    font-size: 15px;
}

#img_logo_menu{
    width: 60%;
}

#about .textAbout{
    font-size: 16px;
    line-height: 30px;
}

#main_txt{
    margin-top: 7%;
}

#diferencial {
    background-color: white;
    border-bottom: 1px solid #679267;
}

#diferencial .card-body p{
    color:  #679267;
}

#diferencial img{
    width: 15%;
}

#areas .card{
    border: none;
}

#areas .card .titulo {
    margin-top: -10%;
    margin-left: 20%;
    font-weight: 700;
}

#areas .card-body p{
    min-height: 90px;
    max-height: 90px;
    overflow: auto;
}

#areas h6{
    font-weight: 700;
}

#areas .persona_img{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
}


#advogados_novo {
    background-color: whitesmoke;
}

.btn-grad {
    background-image: linear-gradient(#A9BA9D, #679267);
}
.btn-grad:hover {
   opacity: 0.7;
}

#advogados_novo span{
    margin-bottom: 45%;
}

#advogados_novo .card{
    width: 20rem;
    min-height: 400px;
    max-height: 400px;
}

#advogados_novo .card-heading{
    min-height: 80px;
    max-height: 80px;
}
#advogados_novo  .card-body{
    min-height: 150px;
    max-height: 150px;
}

.servicos1 img{
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    -webkit-box-shadow: -11px -11px 0px 7px #679267;
    box-shadow: -11px -11px 0px 7px #679267;
}

/*.servicos2 img{*/
/*    width: 100%;*/
/*    min-height: 300px;*/
/*    max-height: 300px;*/
/*    -webkit-box-shadow: 11px -9px 0px 7px #305F49;*/
/*    box-shadow: 11px -9px 0px 7px #305F49;*/
/*}*/

#descricao_servicos p {
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
}


#work_us form input{
    border: none;
    color: #000;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
}

#contato{
    font-family: 'Muli', sans-serif;
    line-height: 120%;
    font-weight: bold;
}

#descricao_adv {
    margin-top: 10%;
}

#descricao_adv .card img{
    border-radius: 50%;
    border: 5px solid #679267;
}

#descricao_adv .card p{
    font-size: 18px;
}

#footer{
    font-size: smaller;
    font-weight: lighter;
}

#footer img {
    width: 90%;
}

#footer i{
    color: white;
}

@media (min-width: 320px) and (max-width: 374px) {

    nav .border-left{
        border: 1px solid white;
    }
    #logo img{
        width: 100%;
    }

    #header .celphone{
        margin-left: 15%;
        padding-bottom: 10px;
    }

    #nav ul li a {
        background-color: #0c5460;
        color: white;
    }
    #header h1 {
        margin-top: -1%;
        font-size: 1.5rem;
        text-align: center;
    }
    #header h2{
        font-size: 1em;
        color: white;
        zoom: 2;
        text-align: center;
    }
    #header .box_contact{
        margin-left: -15%;
    }

    #escritorio-header {
        height: 500px;
    }
    #header-escritorio h1{
        margin-bottom: 20%;
    }
    #nossa_missao .overlay{
        height: 400px;
    }
    #nossa_missao{
        height: 400px;
    }
    #advogados_novo .card{
        width: 18rem;
        min-height: 400px;
        max-height: 400px;
        overflow: auto;
    }
     #diferencial{
         margin-top: 5%;
     }
    #about h3{
        font-size: 0.9rem;
        line-height: 30px;
        font-weight: bold;
    }
#texto-s h2{
    font-size: 15px;
}
#texto-s h1{
    font-size: 18px;
}
#descricao_servicos{
    margin-top: 30%;
}
#descricao_servicos {
    zoom: 0.8;
}
}
@media (min-width: 375px) and (max-width: 414px) {

    #header-escritorio .textobranco{
        color: white;
        line-height: 40px;
    }
    #nav ul li a {
        background-color: #0c5460;
        color: white;
    }
    #header h1 {
        margin-top: -10%;
        font-size: 2rem;
        zoom: 1;
    }
    #header .celphone{
        margin-left: 20%;
        margin-bottom: 10px;
    }
    #header .box_contact{
        margin-left: -20%;
    }

    #header h2{
        font-size: 2em;
        color: white;
    }

    #diferencial img{
        margin-left: 40%;
        margin-top: -4%;
    }
    #diferencial{
        margin-top: 5%;
    }
    #logo img{
        width: 100%;
    }

    #nossa_missao .overlay{
        height: 400px;
    }

    #about h3{
        font-size: 0.9rem;
        line-height: 30px;
        font-weight: bold;
    }

    #nossa_missao{
        height: 400px;
    }
    #advogados_novo .card{
        width: 100%;
        min-height: 400px;
        max-height: 400px;
        overflow: auto;
    }

}
@media (min-width: 768px) and (max-width: 1050px) {

    #logo img{
      width: 60%;
      align-content: center;
    }

    #nav ul{
        padding: 0;
        zoom: 0.9;
    }

    #nav ul li a{
        font-size: 15px;
        color: white;
    }

    #header .celphone{
        margin-left: -15%;
    }

    #diferencial .row{
        padding-top: -20%;
    }

    #diferencial .card{
        height: auto;
        zoom: 0.8;
    }

    #diferencial img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    #diferencial .card-heading p{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        font-size: 1.1rem;}

    #diferencial .card-footer p{
        padding: 0;
        margin: 0;
        background-color: white;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        text-decoration-color: black;
        font-weight: bold;
    }


    #about .desc{
        line-height: 20px;
        font-size: 1rem;
    }

    #about h3{
        font-size: 1rem;
        line-height: 30px;
    }


    #about span{
        width: 40%;
        padding: 10px;
    }

    #footer img{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #advogados_novo .container{
        min-width: 50%;
    }

    #advogados_novo .card{
        width: 100%;
    }

}
@media (min-width: 1200px) and (max-width: 1500px){
  #about h3{
    font-size: 1.3rem;
    line-height: 30px;
  }
}
@media(min-width: 1530px) and (max-width: 1700px){
    #header{
        zoom: 1.3;
    }
    #advogados_novo h2{
        font-size: 2rem;
    }
    #about h3{
      font-size: 1.3rem;
      line-height: 30px;
    }
}
@media (min-width: 1920px) and (max-width: 2600px) {
    #header {
        zoom: 1.3;
    }

    #header span{
        font-size: 110%;
        line-height: 20px;
    }

    nav{
        background-color: transparent;
        height: 70px;
    }

    #nav ul li a {
        font-size: 1.2rem;
    }

    #nav ul li a:hover {
        color: white;
        font-size: 1.2rem;
        border-bottom: 3px solid white;
    }

    #diferencial {
        background-color: whitesmoke;
        color: #000;
        font-size: 1.4rem;
        line-height: 20px;
    }

    #diferencial .card{
        border:  none;
    }

    #diferencial img{
        width: 20%;
        margin-left: 20%;
        margin-top: 10%;
        padding: 5px;
    }

    #diferencial .card-footer{
        min-width: 100%;
        min-height: 100px;
        max-height: 100px;
        border: none;
        overflow: auto;
        background-color: whitesmoke;
    }

    #about p, h2, h5{
        line-height: 60px;
        font-size: 1.9rem;
    }

    #about .desc{
        min-height: 150px;
        max-height: 150px;
        text-align: left;
        overflow: auto;
        color: #000;
        font-size: 22px;
        line-height: 30px;
    }

    #about span{
        width: 30%;
        border: 2px solid black;
        padding: 10px;
        font-size: 2rem;
    }

    #areas .card{
        margin-top: 30px;
    }

    #areas .card .titulo {
        margin-top: -10%;
        margin-left: 30%;
        font-weight: 700;
        font-size: 1.3rem;
    }

    #areas .card .card-body .saiba_mais{
        font-size: 1.3rem;
    }

    #areas .card-body p{
        min-height: 200px;
        max-height: 200px;
        overflow: auto;
        font-size: 1.3rem;
        line-height: 40px;
    }

    #areas h2{
        font-size: 3rem;
    }

    #areas h6{
        font-weight: 700;
    }

    #areas .p_areas{
        font-size: 2rem;
        line-height: 110%;
    }


    #areas .persona_img{
        width: 100%;
        min-height: 600px;
        max-height: 600px;
    }

    #nossa_missao .overlay{
        background-color: black;
        height: 500px;
        width: 100%;
        opacity: 0.7;
    }

    #nossa_missao{
        background-image: url("../img/missao.png");
        background-attachment: fixed;
        height: 400px;
        background-size: cover;
        font-family: 'Playfair Display', serif;
    }

    #nossa_missao>h2,h4{
        zoom: 2;
    }

    #advogados_novo{
        font-family: 'Playfair Display', serif;
    }

    #advogados_novo .container h2{
        font-size: 2rem;
    }

    #advogados_novo .bg-gray{
        background-color: lightgray;
    }

    #advogados_novo span{
        margin-bottom: 45%;
    }

    #advogados_novo span .btn-danger{
        background-color: #305F49;
        border: none;
    }

    #advogados_novo .container{
       min-width: 90%;
    }

    #advogados_novo .card{
        min-height: 700px;
        max-height: 700px;
        width: 100%;
    }

    #advogados_novo .card-heading{
        min-height: 150px;
        max-height: 150px;
        overflow: auto;
    }

    #advogados_novo  .card-body{
        min-height: 180px;
        max-height: 180px;
        overflow: auto;
        zoom: 1.4;
        line-height: 180%;

    }
    #advogados_novo .card img{
        zoom: 1.5;
    }

    #advogados_novo .card .btn{
        zoom: 1.5;
    }

    .servicos1 img{
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        -webkit-box-shadow: -11px -11px 0px 7px #305F49;
        box-shadow: -11px -11px 0px 7px #305F49;
    }

    .servicos2 img{
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        -webkit-box-shadow: 11px -9px 0px 7px #305F49;
        box-shadow: 11px -9px 0px 7px #305F49;
    }
    #descricao_servicos{
        zoom: 1.4;
    }

    #descricao_servicos p {
        min-height: 350px;
        max-height: 350px;
        overflow: auto;
    }

    #work_us{
        zoom: 1.4;
    }

    #work_us form input{
        border: none;
        color: #000;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }

    #contato{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        zoom: 1.3;
        line-height: 30px;
    }

    #google_maps{
        zoom: 2;
    }

    #contato h4{
        font-size: 1rem;}

    #contato form .form-group{
        zoom: 1;
    }

    #contato form input{
        min-height: 40px;
    }
    #contato form select{
        min-height: 40px;
    }

    #descricao_adv {
        margin-top: 10%;
        font-family: 'Playfair Display', serif;
        zoom: 1.4;
        line-height: 40px;
    }

    #descricao_adv .card img{
        border-radius: 50%;
        border: 5px solid #305F49;
    }

    #descricao_adv .card p{
        font-size: 18px;
    }


    #news .container{
        min-width: 100%;
    }

    #news .news{
        zoom: 1.3;
        line-height: 15px;
    }

    #footer{
        font-family: 'Playfair Display', serif;
        font-weight: normal;
        zoom: 1.3;
        line-height: 20px;
    }

    #footer img {
        width: 90%;
    }

    #footer i{
        color: white;
    }

    #copyright{
        zoom: 1.3;
    }

    #sobre_nos{
        zoom: 1.3;
    }

    #header_advogados{
        zoom: 1.3;
    }
    #resume_adv{
        zoom: 1.3;
    }
}
